# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [67]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [68]:
vacation_df = pd.read_csv('../WeatherPy/WeatherPy.csv')
vacation_df

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,fortuna,40.5982,-124.1573,18.89,72.0,1.0,6.17,US,1.619735e+09
1,1,geraldton,-28.7667,114.6000,18.00,82.0,90.0,5.66,AU,1.619735e+09
2,2,puerto ayora,-0.7393,-90.3518,27.00,78.0,20.0,7.20,EC,1.619735e+09
3,3,saint-philippe,-21.3585,55.7679,25.00,83.0,75.0,7.20,RE,1.619735e+09
4,4,castro,-24.7911,-50.0119,12.65,82.0,9.0,2.81,BR,1.619735e+09
...,...,...,...,...,...,...,...,...,...,...
634,634,jawhar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,635,linares,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,636,balclutha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,637,georgiyevka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,638,isla vista,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
vacation_df.dropna()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,fortuna,40.5982,-124.1573,18.89,72.0,1.0,6.17,US,1.619735e+09
1,1,geraldton,-28.7667,114.6000,18.00,82.0,90.0,5.66,AU,1.619735e+09
2,2,puerto ayora,-0.7393,-90.3518,27.00,78.0,20.0,7.20,EC,1.619735e+09
3,3,saint-philippe,-21.3585,55.7679,25.00,83.0,75.0,7.20,RE,1.619735e+09
4,4,castro,-24.7911,-50.0119,12.65,82.0,9.0,2.81,BR,1.619735e+09
...,...,...,...,...,...,...,...,...,...,...
577,577,gizo,2.7809,45.5005,26.05,79.0,98.0,2.92,SO,1.619735e+09
578,578,gat,-35.8500,-71.6000,18.69,42.0,100.0,1.38,CL,1.619735e+09
579,579,capreol,-46.2339,169.7500,12.78,70.0,100.0,1.79,NZ,1.619735e+09
580,580,wewak,43.0369,74.7114,18.00,48.0,0.0,4.00,KZ,1.619735e+09
581,581,liepaja,34.4133,-119.8610,28.89,33.0,1.0,5.14,US,1.619735e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [70]:
gmaps.configure(api_key=g_key)
locations = vacation_df[["Lat","Lng"]]
humidity = vacation_df["Humidity"].astype(float)

In [71]:
locations = locations.dropna()
humidity = humidity.dropna()

In [73]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure